<div class="alert alert-success alert-dismissible fade show" role="alert" style="font-size: 1.25em">
  <%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>