<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-right: 100px ; margin-left: 380px font-size: 1.25em ; text-align : center">
  <%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>