<div style = "float:left;width:10px;height:10px;margin-left:50px;margin-top:0px">
  <img src = "<%=image_path('home_page_3.jpg')%>"  height = 700px   style = "position:absolute;">
</div> 



<div style = "float:right ; margin-right: 150px ; margin-top: 200px">

<fieldset>

<div class="card shadow shadow-md border-info" style="width: 40rem;">
  <div class="card-body">
<h6 class = "card-title" > <p class = "display-4 lead">  <i> <b> WELCOME TO KAPIDO </b>  </i> </p> </h6>
<h6 class = "display-7 lead"> <i> WORLD'S LARGEST TAXI SERVICE </i> </h6>
<h6 class = "display-7 lead"> <i> YOUR RIDE , YOUR RIGHT !! </i> </h6>
</div> </div>

</fieldset>



</div>



