<div style = "float:left;width:10px;height:10px;margin-left:270px;margin-top:100px">
  <img src = "<%=image_path('home_page_2.avif')%>"  height = 400px  style = "position:absolute;">
</div> 



<div style = "float:right ; margin-right: 450px ; margin-top: 300px">

<fieldset>
<h6 class = "lead" > <i> <b> Welcome to Kapido </b>  </i></h6>
<h6 class = "lead"> <i> World's largest taxi service </i> </h6>
<p class = "lead"> <i> Your Ride , Your Right !! </i> </p>

</fieldset>



</div>



