
<div style = "float:left;width:10px;height:10px;margin-left:300px">
  <img src = "<%=image_path('waiting_payment.jpg')%>"  height=650px style = "position:absolute;">
</div> 




<div style = "float:right ; margin-right : 300px ; margin-top: 250px">
    <h2> Waiting for rider </h2>
    <h3> To done the payment... </h3>
</div>