
<div style = "float:left;width:10px;height:10px;margin-left:300px">
  <img src = "<%=image_path('waiting_payment.jpg')%>"  height=650px style = "position:absolute;">
</div> 




<div style = "float:right ; margin-right : 250px ; margin-top: 250px">

  <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">
    <h2 class = "display-6 lead" > WAITING FOR RIDER </h2>
    <h3 class = "display-6 lead"> TO DO THE PAYMENT ... </h3>
  </div>
  </div>
</div>