<div style = "float:right;margin-right:300px;">
<h1> RIDER DASHBOARD </h1>
<br>
    <div style = "display : flex ; justify-content : space-around;">
    <div class="card  bg-light mb-3" style="max-width: 10rem;">
  <div class="card-header"><b>Total Rides</b></div>
  <div class="card-body">
    <h5 class="card-title"><%= @rides.length %></h5>
    <%
=begin%>
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
<%
=end%>
  <%= link_to "View your rides", rides_path , class: "btn btn-primary btn-sm"%>
  </div>
</div>



<div class="card  bg-light mb-3" style="max-width: 10rem;">
  <div class="card-header"><b>Total Expenses</b></div>
  <div class="card-body">
    <h5 class="card-title"><%= @expenses %></h5>
    <%
=begin%>
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
<%
=end%>
  </div>
</div>
</div>


</div>

