<div style = "float:right ; margin-right:300px">
<h1> Change your standing city here </h1>

<fieldset>
<legend><b></b></legend>
<%= form_for @driver , action: :update do |f|%>

    <b><%=f.label :standby_city , "City : "%></b>
    <%=f.text_field :standby_city , class: "form-control" , required: true%>

    <br>

    <%=f.submit "Submit" , class: "btn btn-primary btn-sm"%>
</fieldset>
    
<%end%>
</div>