<h1> Welcome to your ride </h1>
<h1> Fasten your seat belts</h1>
<fieldset>
    <p>From Location : <%=@booking.from_location_name%><p>
    <p>To Location : <%=@booking.to_location_name%>   </p>
    <%if current_user.role == 'Driver'%>
        <<%= link_to "End_Ride", driver_dash_path %>>
    <%end%>
<fieldset>