<div style = "float:right ; margin-right:300px">
<h1> Hooray </h1>
<h3> You are on the ride now</h3>

<% if current_user.driver?%>
    <!--Driver Riding Page-->
    <h3> With the rider </h3>
    <br>
    <p> <b> Reached the destination ? </b> </p>
    <%= link_to "End Ride", new_bill_path(rideId: @rideId)  , class: "btn btn-primary btn-sm" %>
    
<%else%>
    <!--Rider Riding Page-->
    <h3> With the driver </h3>
    
<%end%>
</div>