<div style = "float:left;width:10px;height:10px;margin-left:150px">
  <img src = "<%=image_path('waiting_ride.avif')%>"  height=700px style = "position:absolute;">
</div> 





<div style = "float:right ; margin-right:300px ; margin-top: 200px">
<h1> Please wait... </h1>
<p> In process of searching a Kapido captain for your ride !!</p>
 
 <br> <br>

<h6> Bored of getting waited </h6>
<%= link_to "Cancel the ride",  booking_requests_destroy_path(bid: @bookingId) , data: {turbo_method: :delete , confirm: "Are you sure"} , class: "btn btn-primary btn-sm" %>
</div>